---
/**
 * The main page, including a brief introduction and listing of the steps in our design and
 * development process. Links to two of the projects are included at the bottom of the main content.
 */
import MainLayout from '../layouts/MainLayout.astro';
import NumberedParagraphs from '../components/NumberedParagraphs.astro';
import ProjectCard from '../components/ProjectCard.astro';
import Highlight from '../components/Highlight.astro';
import loudrImageMetaData from '../assets/loudr_card.png';
import trqkImageMetaData from '../assets/trqk_card.png';

const paragraphs = [
    {
        heading: 'Branding',
        body: `A strong brand that is well-suited to both the company and its target audience is
            essential to building trust and loyalty. We can help you develop a brand that
            communicates your values and resonates with your customers.`,
    },
    {
        heading: 'Design System',
        body: `A design system is a collection of reusable components that can be combined to create
            a consistent user experience across your products, both digital and physical. We can
            help you develop a design system that will allow you to work quickly and efficiently
            without sacrificing quality.`,
    },
    {
        heading: 'Website',
        body: `A mobile-first website with a full set of features is the foundation of your digital
            platform. We can help you build a website that is tailored to your specific needs and
            provides your customers with a seamless experience. This might include an online store,
            customer support system, or any other features you need to provide.`,
    },
    {
        heading: 'Integrations',
        body: `A digital platform is more than just a website. It includes all of the systems that
            work together to provide a seamless user experience. We can help you integrate your
            website with third party services such as CRM, accounting, fulfillment, email marketing,
            and more.`,
    },
    {
        heading: 'Workflow Support',
        body: `It's not enough to just set up a digital platform; you need to be able to run it, too.
            We'll help you develop repeatable processes that will allow you to keep your platform
            running smoothly and make changes as your needs evolve.`,
    },
];

const prefooterBg = 'bg-gray-light-shade-700 dark:bg-gray-dark-shade-700';
---

<MainLayout title="Woodshed">
    <h1>Your digital architects</h1>
    <div class="flex flex-col gap-10 py-5">
        <p class="body-1">
            When you’re running a small business or nonprofit, you have fewer
            resources than a larger organization, but you need to compete in the
            same market. These days, that means you need to be highly available
            to your customer. In other words, you need a website.
        </p>
        <p class="body-1">
            But in reality, you don't just need a website; you need a digital
            platform.
        </p>
        <p class="body-1">
            A digital platform includes a website as well as other systems that
            work together to provide a seamless user experience. Your clients
            take this for granted, but it's no small feat to pull it all
            together.
        </p>
        <p class="body-1">
            You could perhaps build this yourself, but it takes untold amounts
            of time. It can be enough to stall your entire project.
        </p>
        <p class="body-1">
            We are Woodshed, and we're here to help. We’re your digital
            architects.
        </p>
        <div
            class="mt-10 border-b-[1.5px] w-40 sm:w-48 lg:w-[351px] border-primary-light-shade-500 dark:border-primary-dark-900"
        >
        </div>
        <h1>Building your digital platform</h1>
        <p class="body-2 sm:px-8 lg:px-10">
            Your digital platform is the foundation of your business. It
            includes, at a minimum:
        </p>
        <div class="pl-[24px] sm:px-16 lg:px-20">
            <NumberedParagraphs paragraphs={paragraphs} />
        </div>
        <p class="body-2 sm:px-8 lg:px-10">
            We can help you build your digital platform from the ground up, or
            we can help you improve your existing platform. We understand the
            interconnected nature of these tools, and we can guide you through
            the myriad of choices that confront every small business and
            nonprofit.
        </p>
        <div
            class="flex flex-col lg:flex-row items-center justify-center gap-x-12 gap-y-16 pt-20"
        >
            <ProjectCard
                alt="Screenshot of Trqk home page"
                href="/projects#trqk"
                imageMetaData={trqkImageMetaData}
            >
                <p slot="project-name" class="flex">
                    <span class="text-20 font-medium">Trqk</span><span>™</span>
                </p>
            </ProjectCard>
            <ProjectCard
                alt="Screenshot of Loudr home page"
                href="/projects#loudr"
                imageMetaData={loudrImageMetaData}
            >
                <p slot="project-name" class="text-20 font-medium">Loudr</p>
            </ProjectCard>
        </div>
        <div class="flex justify-center">
            <Highlight>
                <a class="body-1" href="/projects/">View all projects</a>
            </Highlight>
        </div>
    </div>
</MainLayout>
<div style={{ 'grid-area': 'prefooter-left' }} class={prefooterBg}></div>
<div
    style={{ 'grid-area': 'prefooter-center' }}
    class={`${prefooterBg} text-gray-light-300 dark:text-gray-dark-200 py-20`}
>
    <aside class="body-1">
        We are a passionate team ready to make your plans a reality, from your
        earliest inspiration to a fully-realized product. We believe in
        collaborating closely with you throughout the process in order to make
        it as efficient and transparent as possible. As your needs change and
        traffic builds, we’ll be there to support you and adapt to new
        requirements.
    </aside>
</div>
<div style={{ 'grid-area': 'prefooter-right' }} class={prefooterBg}></div>

<style>
    /*
        Use a pseudo-element to add a line break in the h1 if the width is less than 544px.
        This is better for semantic purposes than having two h1s and hiding/showing them
        with CSS.
    */
    #space-or-line-break:after {
        content: '\a';
        white-space: pre;
    }

    @media (min-width: 544px) {
        #space-or-line-break:after {
            content: ' ';
        }
    }
</style>
