---
/**
 * Layout for a single Project in the Projects page. Each project features an introduction and
 * image, and contains a `<slot />` for the remaining content.
 */

import { Image } from 'astro:assets';

interface Props {
    alt: string;
    /**
     * Used to refer to this section in an anchor link
     */
    id: string;
    imageMetaData: ImageMetadata;
    intro: string;
    projectName: string;
}

const { alt, projectName, imageMetaData, intro, id } = Astro.props;
---

<div>
    <h2 class="projects pt-12" id={id}>{projectName}</h2>
    <p class="body-1 pt-4">
        {intro}
    </p>
    <Image class="pt-12" alt={alt} src={imageMetaData} />
    <slot />
</div>
